<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>User_Servlets.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>User_Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>User_Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>User_Servlets.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivityServlet</servlet-name>
        <servlet-class>User_Servlets.ActivityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoryServlet</servlet-name>
        <servlet-class>User_Servlets.StoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BhajanServlet</servlet-name>
        <servlet-class>User_Servlets.BhajanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatbotServlet</servlet-name>
        <servlet-class>User_Servlets.ChatbotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>User_Servlets.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivityCompleteServlet</servlet-name>
        <servlet-class>User_Servlets.ActivityCompleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>AdminLoginServlet.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>Admin_Servlets.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoadmapDetailsServlet</servlet-name>
        <servlet-class>User_Servlets.RoadmapDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/user/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/user/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/user/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityServlet</servlet-name>
        <url-pattern>/user/ActivityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoryServlet</servlet-name>
        <url-pattern>/user/StoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BhajanServlet</servlet-name>
        <url-pattern>/user/BhajanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatbotServlet</servlet-name>
        <url-pattern>/user/ChatbotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/user/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityCompleteServlet</servlet-name>
        <url-pattern>/ActivityCompleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoadmapDetailsServlet</servlet-name>
        <url-pattern>/RoadmapDetailsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
